* {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  background-color: Azure;
}
.container {
  margin-top: 30px;
}

/* landing page */
#start-div {
  max-width: 1000px;
  margin: 200px auto;
  text-align: center;
}
h1 {
  color: RoyalBlue;
  font-family: Lobster;
  font-size: 80px;
  margin: 25px 0px;
}
p {
  font-family: Open Sans;
}
button {
  border: solid 3px RoyalBlue;
  background-color: White;
  color: RoyalBlue;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  padding: 12px;
  margin: 30px 0px;
}
button:hover {
  background-color: RoyalBlue;
  color: White;
}
.hidden {
  display: none;
}

/* game page */
ul {
  width: 660px;
  margin: auto;
  overflow: hidden;
}
li {
  width: 200px;
  height: 134px;
  margin: 5px;
  float: left;
  text-align: center;
  position: relative;
  border-radius: 5px;
}
/* front */
.front {
  background-color: Thistle;
  border-radius: 10px;
  transform: rotateY(180deg);
}
h2 {
  display: inline-block;
  color: White;
  font-size: 1.8em;
  z-index: 100;
  margin-top: 45px;
}
/* back */
img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  border-radius: 10px;
}
.front, .back {
  width: 200px;
  height: 134px;
  position: absolute;
  top: 0px;
  left: 0px;
  backface-visibility: hidden;
}

/* score counter */
#score-counter {
  width: 660px;
  color: White;
  font-family: Montserrat;
  margin: auto;
}
h3 {
  margin-left: 10px;
  clear: left;
}
#score-counter h3, p {
  color: Black;
  display: inline;
}

/* flip effect */
ul {
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
li {
  perspective: 1000px;
}
.active .inner {
  transform: rotateY(180deg);
}
.inner {
  transition: transform 0.8s;
  transform-style: preserve-3d;
}


/* game summary */
#game-summary {
  text-align: center;
  font-family: Montserrat;
}

.disabled {
  pointer-events: none;
}

.Monoton { font-family: Monoton; }
.Helvetica { font-family: Helvetica; }
.Oswald { font-family: Oswald; }
.Cinzel { font-family: Cinzel; }
.Lobster { font-family: Lobster; }
.Amatic { font-family: Amatic SC; }
