* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
body {
  background-color: LavenderBlush;
}

.container {
  width: 100%;
  margin: 30px auto;
}

.Monoton { font-family: Monoton; }
.Helvetica { font-family: Helvetica; }
.Oswald { font-family: Oswald; }
.Cinzel { font-family: Cinzel; }
.Lobster { font-family: Lobster; }
.Amatic { font-family: Amatic SC; }

.disabled { pointer-events: none; }
.hidden { display: none; }


/* landing page */
#start-div {
  text-align: center;
}
h1 {
  color: DarkMagenta;
  font-family: Lobster;
  font-size: 60px;
  margin: 25px 0px;
}
p {
  font-family: "Open Sans";
}
button {
  border: solid 3px DarkMagenta;
  background-color: White;
  color: DarkMagenta;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  padding: 12px;
  margin: 30px 0px;
}
button:hover {
  background-color: DarkMagenta;
  color: White;
}

/* game page */
ul {
  width: 320px;
  margin: auto;
  overflow: hidden;
}
li {
  width: 150px;
  height: 120px;
  margin: 5px;
  float: left;
  text-align: center;
  position: relative;
  border-radius: 5px;
  -webkit-perspective: 1000px;
}
.front, .back {
  width: 100%;
  height: 120px;
  position: absolute;
  top: 0px;
  left: 0px;
  -webkit-backface-visibility: hidden;
}
h2 {
  display: inline-block;
  color: White;
  font-size: 1.6em;
  margin-top: 40px;
}
/* front */
.front {
  background-color: Thistle;
  border-radius: 5px;
  -webkit-transform: rotateY(180deg);
}
/* back */
img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
}
/* score counter */
#score-counter {
  display: inline-block;
  width: 390px;
  color: White;
  font-family: Montserrat;
  margin: auto;
}
h3 {
  margin-left: 5px;
  font-size: 16px;
  clear: left;
}
#score-counter h3, p {
  color: Black;
  display: inline;
}

/* flip effect */
ul {
  -webkit-transition: transform 0.8s;
  -webkit-transform-style: preserve-3d;
}
.active .inner {
  -webkit-transform: rotateY(180deg);
}
.inner {
  -webkit-transition: transform 0.8s;
  -webkit-transform-style: preserve-3d;
}

/* game summary */
#game-summary {
  width: 90%;
  text-align: center;
  font-family: Montserrat;
  margin: auto;
}
#game-summary h1 {
  font-size: 40px;
}

@media screen and (min-width: 800px) {
  ul {
    width: 570px;
  }
  li {
    width: 180px;
    height: 130px;
  }
  .front, .back {
    width: 100%;
    height: 130px;
  }
}

@media screen and (min-width: 1000px) {
  h1 {
    font-size: 80px;
  }
  button {
    font-size: 22px;
    padding: 14px;
  }
  /* game */
  ul {
    width: 780px;
  }
  li {
    width: 250px;
    height: 150px;
    margin: 5px;
  }
  .front, .back {
    width: 100%;
    height: 150px;
  }
  h2 {
    font-size: 1.8em;
    margin-top: 50px;
  }
  /* score counter */
  #score-counter {
    width: 660px;
  }
  h3 {
    margin-left: 10px;
    font-size: 22px;
  }
  /* summary */
  #game-summary {
    width: 100%;
  }
  #game-summary h1 {
    font-size: 80px;
  }
}
